@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;900&family=Raleway:wght@100;300;400;500;700;900&display=swap');

@media only screen and (min-width: 600px) {
    body, html {
        background-color: rgb(250,250,250);
        overflow: scroll;

        display: flex;
        flex-wrap: wrap;
        
        height: 100%;
        width: 100%;
        margin: 0px;

        font-family: 'Nunito', sans-serif;

        scroll-behavior: smooth;
    }

    nav {
        width: 10vw;
        height: 100vh;
        justify-self: flex-start;
        border: 0px;
        padding: 0px;

        font-size: 2em;

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #nav-item:hover {
        background-color: teal;
        color: whitesmoke;
    }

    ul {
        list-style-type: none;
        text-align: right;
    }

    li {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    li:hover {
        text-decoration: underline;
        cursor: grab;
        text-decoration-color: whitesmoke;
    }

    main {
        width: 90vw;
        height: 100vh;
        justify-self: flex-start;
        overflow: scroll;
        margin: 0px;
        padding: 0px;
        border: 0px;

        scroll-snap-type: y mandatory;
    }

    .welcome {
        width: 90vw;
        height: 100vh;
        overflow: scroll;
        margin: 0px;
        padding: 0px;
        border: 0px;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        scroll-snap-align: start;

        border-image: linear-gradient(90deg, rgba(214,79,152,1) 0%, rgb(80, 48, 155) 50%, rgba(17,209,189,1) 100%);
    }

    .welcome-title {
        font-family: 'Raleway', sans-serif;
        font-size: 3em;
        font-weight: 300;

        width: 100%;
        justify-self: center;
        display: flex;
        justify-content: center;
    }

    .welcome-title-2 {
        font-family: 'Raleway', sans-serif;
        font-size: 2em;
        font-weight: 300;

        width: 100%;
        display: flex;
        justify-content: center;
    }

    .social-icons {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #icon {
        height: 40px;
        width: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .blog {
        width: 90vw;
        height: 100vh;
        overflow: scroll;
        margin: 0px;
        padding: 100px;
        border: 0px;

        scroll-snap-align: start;

        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
    }

    .blog-post{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        box-shadow: 5px 5px 5px 5px rgb(225, 225, 225);
        border-radius: 7%;
    }

    #blog-post-icon {
        font-size: 3em;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .about {
        width: 90vw;
        height: 100vh;
        overflow: scroll;
        margin: 0px;
        padding: 100px;
        border: 0px;

        scroll-snap-align: start;
    }

    span.wave {
        animation-name: wave-animation;    /* Refers to the name of your @keyframes element below */
        animation-duration: 2.5s;          /* Change to speed up or slow down */
        animation-iteration-count: infinite;    /* Never stop waving :) */
        transform-origin: 70% 70%;         /* Pivot around the bottom-left palm */
        display: inline-block;
    }
    
    @keyframes wave-animation {
        0% { transform: rotate(  0.0deg) }
        10% { transform: rotate(-10.0deg) }    /* The following four values can be played with to make the waving more or less extreme */
        20% { transform: rotate( 12.0deg) }
        30% { transform: rotate(-10.0deg) }
        40% { transform: rotate(  9.0deg) }
        50% { transform: rotate(  0.0deg) }    /* Reset for the last half to pause */
        100% { transform: rotate(  0.0deg) }
    }

    a:link {
        color: black;
        text-decoration: none;
      }
      
      /* visited link */
      a:visited {
        color: black;
        text-decoration: none;
      }
}

/**************************************************** 
******************     BELOW     ********************
******************      FOR      ********************
******************     MOBILE    ********************
****************************************************/

@media only screen and (max-width: 600px) {
    body, html {
        background-color: rgb(250,250,250);
        overflow: scroll;
    
        display: flex;
        flex-wrap: wrap;
        
        height: 100%;
        width: 100%;
        margin: 0px;
    
        font-family: 'Nunito', sans-serif;

        scroll-behavior: smooth;
    }

    nav {
        width: 100vw;
        height: 15vh;
        justify-self: flex-start;
        border: 0px;
        padding: 0px;

        font-size: 1.5em;

        display: flex;
        /* justify-content: center; */
        align-items: flex-end;
        justify-content: center;
    }

    #nav-item:hover {
        background-color: teal;
        color: whitesmoke;
    }

    ul {
        list-style-type: none;
        text-align: left;

        display: inline-block;
        padding-left: 0px;
    }

    li {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 5px;
        padding-right: 5px;

        display: inline-block;
    }

    li:hover {
        text-decoration: underline;
        cursor: grab;
        text-decoration-color: whitesmoke;
    }

    main {
        width: 100vw;
        height: 85vh;
        justify-self: flex-start;
        overflow: scroll;
        margin: 0px;
        padding: 0px;
        border: 0px;

        scroll-snap-type: y mandatory;
    }

    .welcome {
        width: 100vw;
        height: 85vh;
        overflow: scroll;
        margin: 0px;
        padding: 0px;
        border: 0px;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        text-align: center;

        scroll-snap-align: start;
    }

    .welcome-title {
        font-family: 'Raleway', sans-serif;
        font-size: 3em;
        font-weight: 300;

        width: 100%;
        justify-self: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    #mobile-title {
        width: 100vw;
    }

    .welcome-title-2 {
        font-family: 'Raleway', sans-serif;
        font-size: 2em;
        font-weight: 300;

        width: 100%;
        display: flex;
        justify-content: center;
    }

    .social-icons {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #icon {
        height: 40px;
        width: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .blog {
        width: 100vw;
        height: 100vh;
        overflow: scroll;
        margin: 0px;
        padding: 25px;
        border: 0px;

        scroll-snap-align: start;

        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
    }

    .blog-post{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        box-shadow: 5px 5px 5px 5px rgb(225, 225, 225);
        border-radius: 7%;
    }

    #blog-post-icon {
        font-size: 3em;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .about {
        width: 100vw;
        height: 100vh;
        overflow: scroll;
        margin: 0px;
        padding: 25px;
        border: 0px;

        scroll-snap-align: start;
    }

    a:link {
        color: black;
        text-decoration: none;
      }
      
      /* visited link */
      a:visited {
        color: black;
        text-decoration: none;
      }
}