@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;900&family=Raleway:wght@100;300;400;500;700;900&display=swap');

@media only screen and (min-width: 600px) {
    body, html {
        background-color: rgb(250,250,250);
        overflow: scroll;

        display: flex;
        flex-wrap: wrap;
        
        height: 100%;
        width: 100%;
        margin: 0px;

        font-family: 'Nunito', sans-serif;

        scroll-behavior: smooth;
    }

    nav {
        width: 10vw;
        height: 100vh;
        justify-self: flex-start;
        border: 0px;
        padding: 0px;

        font-size: 2em;

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #nav-item:hover {
        background-color: teal;
        color: whitesmoke;
    }

    ul {
        list-style-type: none;
        text-align: right;
    }

    li {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    li:hover {
        text-decoration: underline;
        cursor: grab;
        text-decoration-color: whitesmoke;
    }

    main {
        width: 90vw;
        height: 95vh;
        justify-self: flex-start;
        overflow: scroll;
        margin: 0px;
        padding: 0px;
        border: 0px;

        scroll-snap-type: y mandatory;

        padding-top: 5vh;
    }

    .blog-title {
        font-family: 'Raleway', sans-serif;
        font-size: 3em;
        font-weight: 300;

        width: 100%;
        justify-self: center;
        display: flex;
        justify-content: center;
    }

    .blog-second-title {
        font-family: 'Raleway', sans-serif;
        font-size: 2em;
        font-weight: 300;

        width: 100%;
        display: flex;
        justify-content: center;
    }

    .blog-content {
        padding-top: 50px;
        padding-left: 50px;

        display: flex;
        flex-wrap: wrap;
    }

    .blog-content-title {
        font-family: 'Raleway', sans-serif;
        font-size: 1.25em;
        font-weight: bold;

        width: 100%;
    }

    .blog-text-container {
        width: 100%;
    }

    .figure-container {
        width: 100%;

        display: flex;
        justify-content: center;
    }

    a:link {
        color: black;
        text-decoration: none;
      }
      
      /* visited link */
      a:visited {
        color: black;
        text-decoration: none;
      }

      #kilomoana {
          width: 25vw;
      }
}

/**************************************************** 
******************     BELOW     ********************
******************      FOR      ********************
******************     MOBILE    ********************
****************************************************/

@media only screen and (max-width: 600px) {
    body, html {
        background-color: rgb(250,250,250);
        overflow: scroll;
    
        display: flex;
        flex-wrap: wrap;
        
        height: 100%;
        width: 100%;
        margin: 0px;
    
        font-family: 'Nunito', sans-serif;

        scroll-behavior: smooth;
    }

    nav {
        width: 100vw;
        height: 15vh;
        justify-self: flex-start;
        border: 0px;
        padding: 0px;

        font-size: 1.5em;

        display: flex;
        /* justify-content: center; */
        align-items: flex-end;
        justify-content: center;
    }

    #nav-item:hover {
        background-color: teal;
        color: whitesmoke;
    }

    ul {
        list-style-type: none;
        text-align: left;

        display: inline-block;
        padding-left: 0px;
    }

    li {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 5px;
        padding-right: 5px;

        display: inline-block;
    }

    li:hover {
        text-decoration: underline;
        cursor: grab;
        text-decoration-color: whitesmoke;
    }

    main {
        width: 100vw;
        height: 85vh;
        justify-self: flex-start;
        overflow: scroll;
        margin: 0px;
        padding: 0px;
        padding-left: 10px;
        padding-right: 10px;
        border: 0px;

        scroll-snap-type: y mandatory;
    }

    .blog-title {
        font-family: 'Raleway', sans-serif;
        font-size: 2em;
        font-weight: 300;

        width: 100%;
        justify-self: center;
        display: flex;
        justify-content: center;
    }

    .blog-second-title {
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
        font-weight: 300;

        width: 100%;
        display: flex;
        justify-content: center;
    }

    .blog-content {
        padding-top: 25px;

        display: flex;
        flex-wrap: wrap;
    }

    .blog-content-title {
        font-family: 'Raleway', sans-serif;
        font-size: 1.25em;
        font-weight: bold;

        width: 100%;
    }

    .blog-text-container {
        width: 100%;
    }

    .figure-container {
        width: 100%;

        display: flex;
        justify-content: center;
    }

    a:link {
        color: black;
        text-decoration: none;
      }
      
      /* visited link */
      a:visited {
        color: black;
        text-decoration: none;
      }

      #kilomoana {
          width: 75vw;
      }
}