@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;900&family=Raleway:wght@100;300;400;500;700;900&display=swap');

.header-line {
    width: 95vw;
    background-image: linear-gradient(90deg, rgba(214,79,152,1) 0%, rgb(80, 48, 155) 50%, rgba(17,209,189,1) 100%);
    /* background-image: linear-gradient(90deg, rgba(214,79,152,1) 0%, rgb(73, 85, 129) 50%, rgba(17,209,189,1) 100%); */
    border: 0.5px;
    border-color: black;
    border-radius: 50px;
    height: 3px;
}